.home-container {
  padding: 20px;
}

.chinese-title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 40px;
  color: #ffcc00;
  text-shadow: 2px 2px 4px #000000;
}

.chinese-char {
  font-size: 2em;
  margin-right: 10px;
}

.english-title {
  font-size: 1.5em;
  display: block;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.section-title {
  color: #ffcc00;
  border-bottom: 1px solid #ffcc00;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.view-collection-link {
  font-size: 0.7em;
  margin-left: 10px;
}

.recent-projects-container {
  overflow-x: auto;
  margin-bottom: 40px;
  scrollbar-width: thin;
  scrollbar-color: #555 #2a2a2a;
}

.recent-projects-container::-webkit-scrollbar {
  height: 5px;
}

.recent-projects-container::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.recent-projects-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 3px;
}

.recent-projects-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  width: fit-content;
}

.recent-project-item {
  background-color: #2a2a2a;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
  border: 1px solid #ffcc00;
}

.recent-project-item:not(:hover) {
  opacity: 0.8;
}

.recent-project-item img {
  max-width: 100px;
  margin-left: 10px;
  border: 2px solid #ffcc00;
}

.recent-project-details {
  flex: 1;
  text-align: left;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
}

.recent-project-details h3 {
    color: #ffcc00;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px #000000;
}

.project-box {
  padding: 15px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  box-shadow: 2px 2px 5px #000000;
}

.project-box img {
  max-width: 150px;
  margin-left: 20px;
  border: none;
}

.project-box .project-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
}

.project-box h3 {
  color: #ffcc00;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px #000000;
}

.project-box p {
  margin-bottom: 10px;
}

.project-box a,
.recent-project-details a {
  color: #00ffff;
  text-decoration: underline;
  position: relative;
  margin-top: 10px;
  display: inline-block;
}

.project-box a:hover,
.recent-project-details a:hover {
  text-decoration: underline;
}

.about-challenge {
  margin-top: 40px;
  padding: 15px;
  background-color: #2a2a2a;
  box-shadow: 2px 2px 5px #000000;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.contact-me {
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom, #2a2a2a, #1a1a1a);
  margin-top: 0;
}

.contact-me a {
  color: #00ffff;
  text-decoration: none;
}

.contact-me a:hover {
  text-decoration: underline;
}
