.site-footer {
  background: linear-gradient(to bottom, #1a0d0d, #000000); 
  margin-top: 40px;
  padding: 25px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 40px;
}

.footer-links-contact {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 40px;
  justify-content: end;
  float: right;

}

/* Footer Sections */
.footer-section {
  flex: 1;
  min-width: 300px;
}

.footer-section h4 {
  color: #FFD700;
  margin-bottom: 10px;
}

.footer-section p {
  margin-bottom: 5px;
}

/* Links */
.site-footer a {
  color: #FFB6C1;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}
