@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {
  font-family: 'Jersey 15', monospace;
  background-color: #331a1a;
  color: #f0e6d2;
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.8 0 0 0 0 0.7 0 0 0 0 0.5 0 0 0 0.2 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' fill='rgba(255,255,255,0.05)' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: overlay;
}

.app {
  max-width: 1200px;
  margin: 20px auto;
}

h1 {
  font-family: 'Jersey 15', monospace;
  color: #d4ac0d;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px #000000;
}

h2 {
  font-family: 'Jersey 15', monospace;
  color: #d4ac0d;
  border-bottom: 1px solid #d4ac0d;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

a {
  color: #40e0d0;
  text-decoration: underline;
  position: relative;
  display: inline-block;
}

.project-box a:not(.contact-link)::after,
.recent-project-details a:not(.contact-link)::after,
.project-page .project-details a:not(.contact-link)::after {
  content: ' ↗';
}

.back-home-link::after {
  content: ' ←';
}

.view-collection-link a::after {
  content: ' →';
}

a:hover {
  text-decoration: underline;
}

.site-footer {
  background: linear-gradient(to top, #331a1a, #1a0d0d);
  color: #f0e6d2;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  margin-bottom: 20px;
  flex: 1;
  min-width: 200px;
}

.site-footer a {
  color: #40e0d0;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}
